@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Source for this sample: <a href="https://github.com/jumpinjackie/mapguide-mvc-core-sample">https://github.com/jumpinjackie/mapguide-mvc-core-sample</a></p>
<p>Source for .net bindings: <a href="https://github.com/jumpinjackie/mapguide-api-bindings">https://github.com/jumpinjackie/mapguide-api-bindings</a></p>
