@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Source for this sample: <a href="https://github.com/jumpinjackie/mapguide-mvc-core-sample">https://github.com/jumpinjackie/mapguide-mvc-core-sample</a></p>
<p>.net bindings included in nuget packages bundled with MapGuide Open Source 4.0 Preview 4 and newer releases</p>
<p>Viewer provided by mapguide-react-layout: <a href="https://github.com/jumpinjackie/mapguide-react-layout">https://github.com/jumpinjackie/mapguide-react-layout</a></p>