@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>MapGuide ASP.net Core Sample</h1>
        <p>Welcome to the MapGuide ASP.net Core Sample</p>
        <p>This is an ASP.net core 6.0 sample application using the new cross-platform MapGuide API nuget packages</p>
    </div>
</div>
 <a href="@Url.Action("Main")" class="btn btn-primary btn-block">Run Sample</a> 