@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>MapGuide MVC Core Sample</h1>
        <p>Welcome to the MapGuide MVC Core Sample</p>
        <p>This is an ASP.net core sample application using the new cross-platform <strong>MapGuideDotNetApi</strong> package</p>
    </div>
</div>
 <a href="@Url.Action("Main")" class="btn btn-primary btn-block">Run Sample</a> 