@{
    ViewData["Title"] = "Viewer";
}
@section ScriptsHeader {
    <script type="text/javascript" src="~/lib/viewer/es6-promise.auto.min.js"></script>
    <script type="text/javascript" src="~/lib/viewer/viewer.js"></script>
    <style type="text/css">
        /* Prevent scrollbars due to floating modal dialogs going past the bounds of the root element */
        html { overflow: hidden; }
        html, body, #map { padding: 0; margin: 0; font: 10pt Verdana, sans-serif; }
        #map { position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin-top: 51px; }
        .component-mouse-coordinates, .component-scale-display, .component-selected-feature-count, .component-view-size {
            background-color: #f0f0f0;
        }
        .ajax-sidebar-panel {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        .ajax-sidebar-panel-heading {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 26px;
            padding: 3px;
            padding-left: 6px;
            border-bottom: 1px solid #f0f0f0;
        }
        .ajax-sidebar-panel-body {
            position: absolute;
            left: 0;
            right: 0;
            top: 26px;
            bottom: 0;
            overflow-y: auto;
        }
    </style>
}
@section Scripts {
    <script type="text/javascript">
        var el = document.getElementById("map");
        var viewer = new MapGuide.Application();
        viewer.mount(el, {
            layout: "ajax-viewer",
            session: "@Model.SessionId",
            resourceId: "@Model.LayoutId",
            agent: {
                uri: "@Url.Action("Agent", "MapAgent")"
            }
        });
    </script>
}
<div id="map"></div>