<html>
    <head>
        <title>Task Pane Home</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container-fluid">
            <h1>Task Pane Home</h1>
            <p>Welcome to the Sheboygan Sample application</p>
            <p>The sample application is built on the following:</p>
            <ul>
                <li><a target="_blank" href="https://get.asp.net/">ASP.net 5 - MVC 6</a></li>
                <li><a target="_blank" href="https://github.com/Turbo87/sidebar-v2">sidebar-v2</a></li>
                <li><a target="_blank" href="http://www.openlayers.org">OpenLayers</a></li>
            </ul>
        </div>
    </body>
</html>