@model MvcCoreSample.Models.MapGuideCommandModel
@{
    Layout = "_TaskPaneContent";
    ViewData["Title"] = "Working With Feature Data";
}
<div class="list-group">
    <a class="list-group-item" href="@Url.Action("ShowBuildingsAfter1980", Model)">
        <h4 class="list-group-item-heading">Change layers via DOM</h4>
        <p class="list-group-item-text">Show buildings built after 1980</p>
    </a>
    <a class="list-group-item" href="@Url.Action("ShowSquareFootage", Model)">
        <h4 class="list-group-item-heading">Create Square Footage Layer</h4>
        <p class="list-group-item-text">Show a map themed by areas.</p>
    </a>
    <a class="list-group-item" href="@Url.Action("ShowHydroLine", Model)">
        <h4 class="list-group-item-heading">Create Hydro Line Layer</h4>
        <p class="list-group-item-text">Show a map themed by lines.</p>
    </a>
    <a class="list-group-item" href="@Url.Action("ShowPointsOfInterest", Model)">
        <h4 class="list-group-item-heading">Create Points of Interest Layer</h4>
        <p class="list-group-item-text">Show a map themed by points.</p>
    </a>
</div>